body {
    background-image: url('../images/floor-tile.png');
    font-family: Arial, 'Helvetica Neue',Helvetica, sans-serif;
    
}
.container {
    background-image: url('../images/floor-tile.png');
    
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    height: 100px;  
}
nav {
    position: fixed;
    color: #777777;
    font-size: 20px;
    right: 260px;
    top: 29px;
}

li {
display: inline-block;

padding: 0%;
margin: .5em;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #777777;
}

#header-title {
    background: #4aaaa5;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    width: 208px;  
    position: relative;
    left: 210px;
    top: 23px;
}
.main-body {
    width: 960px;
    background: #fff;
    margin: 20px 15%;
    padding: 2%;
    border: 2px solid #dddddd;
    position: relative;
    top: 100px;
    float: left;
    
}
p {
    color: #777777;
}
.content-header {
    color: #4aaaa5;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: grey;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}
#footer-font {
    color: #dddddd;
    padding-bottom: 10px;
}
#main-image {
    margin: 0px;
    padding-right: 20px;
    left: -5px;
    float:left;
    border: 5px;
    height: 150px;
}
